* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-underline-position: under;
}

*:focus {
    outline: none;
}

body, html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    font-family: inherit;
}

img {
    vertical-align: top;
}

input, select, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** CUSTOM **/

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.background-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-contain {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
